<!--% PROCESS 'shared-utils.tpl.html' %-->
<h1 id="requested_topics">Requested topics</h1>
	<p>This is a list of topics that have been requested by the community. Feel free to add it to the list by emailing admin at hpr or by tweeting us on <a href="https://twitter.com/hpr">@HPR</a>.</p>
	<ul>
		<li>How did you get into podcasting/linux/geekdom?</li>
		<li>What podcasts you listen to and can recommend</li>
		<li>What’s in your bag? Tell us what tools/gear/stuff you keep close at hand.</li>
		<li>What got you into Linux?</li>
		<li>Your favorite Android applications.</li>
		<li>Your favorite desktop applications.</li>
		<li>Your favorite browser extensions.</li>
		<li>A introduction to Wireshark.</li>
		<li>How to set up your own blog.</li>
		<li>Choosing a artistic design for website, business cards etc.</li>
		<li>Music Theory</li>
		<li>Installing a VPN to your home network</li>
		<li>Init and System.d</li>
		<li>Episodes for the <a href="<!--% absolute_url(baseurl) %-->series/0007.html">LPI</a>, or the Networking series.</li>
		<li><a href="http://opensourcemusician.com/index.php/Beginning_Audio_Series_for_HPR_and_OSMP_Release">Beginning Audio Series for HPR and OSMP Release</a></li>
		<li>Hackintosh computers - what are they, why would you want one.</li>
		<li>Grub 2.0 introduction and customization.</li>
		<li>FM Transmitter hack to listen into internet streams</li>
		<li>How I Got Into Accessible Computing</li>
		<li>How to do knitting</li>
		<li>How to build a house</li>
		<li>Bitcoin howto <a href="<!--% absolute_url(baseurl) %-->eps/hpr0788/index.html">hpr0788</a></li>
		<li>How to solder <a href="<!--% absolute_url(baseurl) %-->eps/hpr1037/index.html">hpr1037</a>, <a href="<!--% absolute_url(baseurl) %-->eps/hpr1047/index.html">hpr1047</a></li>
		<li>How to weld</li>
		<li>How to fix a car</li>
		<li>Reviews of stream playing software, (for linuxheads who don't want to keep a browser tab open all the time)</li>
		<li>Reviews of stream ripping software on linux</li>
		<li>Beginners guide to gnuplot</li>
		<li>Nagios series, intro, setup, advanced ...</li>
		<li>How to set up GPG/openPGP</li>
		<li>What I do with my Raspberry Pi</li>
		<li>It broke, I fixed it</li>
		<li>How does coreboot work</li>
		<li>Introduction to HAM Radio</li>
		<li>I've moved and they do it like this here</li>
		<li>How to record a tag team tutorial on a topic</li>
		<li>Open Street Map new editor</li>
		<li>etymology</li>
		<li>functional versus procedural programming</li>
		<li>sed, awk and grep</li>
		<li>Setting up imap/smtp (gmail) in a cli mail program</li>
		<li>Irssi - a sane setup</li>
		<li>Your view of the future</li>
		<li>Alternative uses for Bayesian email classifiers (<a href="https://www.youtube.com/watch?v=JKB5CojW4AA">more info</a>)</li>
		<li>How to use a multimeter, and other basic electronic components like a 555 timer</li>
		<li>How does Hubble remain fixed on a spot in space while in orbit of the earth</li>
		<li>Gnu automake system.</li>
		<li>What's the deal with IPv6 (i.e., why can't we just NAT at the ISP level, are there privacy issues in having your MAC address as part of your IP?)</li>
		<li>Network like a Pro.  If you were to treat your home network like a corporate server farm, what tools and hardware would it entail to treat your home network like a security professional?  What do we need for a firewall and what are the detection/prevention technologies that we could be implementing?</li>
		<li>Beyond Firewall and an IDS/IPS, what do I need?  I've started listening to Security Weekly, starting with last December, and at one point the suggested a secondary IDS, behind the firewall, to record what the primary defenses missed.  Where and how do I set that up?  Beyond firewall and IDS, what other tools should I be running, where should they be in my network, and how many physical boxes are we talking?  Emphasis should be on low power devices and free as in beer tools.</li>
		<li>Now That Your Security is in Place, How to Read Logs and Formulate a Response to an Intrusion.  What I've learned from SW, is that you can't prevent an intrusion, it's how to respond when you are compromised.  Again, according to SW, the security manager's job is to detect intrusions, inside 48 hours rather than 48 months.  How can you protect your proprietary data and customer database?</li>
		<li>What Are the Answers I Need, To the Questions I Don't Know Enough to Ask?</li>
		<li>#IPFS (and don't leave out IPNS!). I'd really like to get a better understanding of practical use of this.</li>
		<li>Any experiences integrating Dell/Wyse thin- and zero- clients into linux networks.</li>
	</ul>
