<!--% PROCESS 'shared-episode-summary.tpl.html' %-->
<!--% PROCESS 'shared-avatar.tpl.html' %-->
<!--% PROCESS 'shared-utils.tpl.html' %-->
<!--% PROCESS 'shared-listen-now.tpl.html' %-->
<!--% PROCESS 'shared-show-transcript.tpl.html' %-->
<!--% PROCESS "queries-episode-${constants.database}.tpl.html" %-->
<!--% USE DBI(constants.driver, constants.user, constants.password) %-->
<!--% query_episodes = DBI.prepare(query_episode_maxmin)
%-->
<!--% episode_result = query_episodes.execute(id, id, id, id, id) %-->
<!--% FOREACH episode IN episode_result %-->
<!--% episode_navigation = step_navigation(baseurl,episode) %-->
<article>
	<header>
		<h1>hpr<!--% episode.id %--> :: <!--% episode.title %--></h1>
		<h3><!--% episode.summary %--></h3>
		<p class="meta"><!--% episode_navigation %-->
		</p>
<p><!--% show_avatar(episode.hostid, episode.host) %-->
Hosted by <a href="<!--% absolute_path(baseurl) %-->correspondents/<!--% zero_pad_left(episode.hostid) %-->.html"><!--% episode.host %--></a> on <span><!--% episode.date %--></span> is flagged as <span><!--% display_explicit(episode.explicit) %--></span> and is released under a <span><!--% episode.license %--> license</span>. <br>
<!--% display_tags(episode.tags) %-->  

<label>Comments: </label><!--% display_comments_tally(episode.id, episode.eps_tally) %--> <br>
<!--% listen_now(episode, "hpr", baseurl, media_baseurl) %-->
</p>
<h3><!--% show_series(episode.series, episode.seriesid, "Part of the series") %--></h3> 
<p><em><!--% episode.series_description %--></em></p>
	</header>
	<div><!--% episode.notes %--></div>
<footer>
<!--% show_transcript(episode, "hpr", baseurl, media_baseurl) %-->
<p>
<!--% episode_navigation %-->
</p>
    </footer></article>
<!--% END %-->
<hr />
<h1>Comments</h1>
<p id="comments">
Subscribe to the comments <a href="<!--% absolute_path(baseurl) %-->comments.rss">RSS</a> feed.
</p>
<!--% query_comments = DBI.prepare('
	SELECT 
		id,
		comment_timestamp, 
		comment_author_name, 
		comment_title, 
		comment_text
	FROM comments
	WHERE eps_id = ?
	')
%-->
<!--% comment_index = 1 %-->
<!--% comments_result = query_comments.execute(id) %-->
<!--% FOREACH comment IN comments_result %-->
<h5 id="comment_<!--% comment.id %-->">Comment #<!--% comment_index %--> posted on <!--% comment.comment_timestamp %--> by <!--% comment.comment_author_name %--></h5>
<h4><!--% comment.comment_title %--></h4>
<!--% comment.comment_text %-->
<!--% comment_index = comment_index + 1 %-->
<!--% END %-->

        <h2>Leave Comment</h2>
        <p>
        <strong>Note to Verbose Commenters</strong><br />
        If you can't fit everything you want to say in the comment below then you really should <a href="<!--% absolute_path(baseurl) %-->contribute.html">record</a> a response show instead.
        </p>
        <p>
        <strong>Note to Spammers</strong><br />
		All comments are moderated. All links are checked by humans. We strip out all html. Feel free to <a href="<!--% absolute_path(baseurl) %-->contribute.html">record</a> a show about yourself, or your industry, or any other topic we may find interesting. <em>We also check shows for spam :)</em>.
        </p>
        <form method="POST" action="comment_confirm.php">
        <fieldset>
        <legend>Provide feedback</legend>
        <table>
        <tr>
            <td>Your Name/Handle:</td>
            <td><input required type="text" name="comment_author_name" size="40" maxlength="40" placeholder="Enter your name" ></td>
        </tr>
        <tr>
            <td>Title:</td>
            <td><input required type="text" name="comment_title" size="50" maxlength="100" placeholder="What is your comment about ?"></td>
        </tr>
        <tr>
            <td>Comment:</td>
            <td><textarea required name="comment_text" maxlength="2000" rows="10" cols="50" placeholder="Place the comment here."></textarea></td>
        </tr>
        <tr>
            <td>Anti Spam Question:</td>
            <td>
            What does the <strong>P</strong> in <em>HPR</em> stand for ? <br />
            <input required type="text" name="anti_spam_question" size="50" maxlength="100" placeholder="Type out what the P in HPR stands for."></td>
        </tr>
        <input type="hidden" name="spammer" value="No">
<input type="hidden" name="hostid" value="406">
<input type="hidden" name="justification" value="No justification is asked for or required.">
<input type="hidden" name="eps_id" value="3665 ">
        </table>
        <input type="submit" value="Next">
        </fieldset>
        </form>
