<!--% PROCESS 'shared-episode-summary.tpl.html' %-->
<!--% PROCESS 'shared-avatar.tpl.html' %-->
<!--% PROCESS 'shared-utils.tpl.html' %-->
<!--% PROCESS 'shared-listen-now.tpl.html' %-->
<!--% USE DBI(constants.driver, constants.user, constants.password) %-->
<!--% query_episodes = DBI.prepare('
		WITH episode_maxmin AS (
					SELECT MAX(id) AS \'latest\', MIN(id) AS \'earliest\', ? AS \'id\' 
					FROM twat_eps AS eps
		),
		episode_date AS (
			SELECT eps.date 
			FROM twat_eps AS eps
			WHERE eps.id = ?
		),
		episode_previous AS (
			SELECT MAX(id) AS \'previous\', ? AS \'id\'
			FROM twat_eps AS eps
			INNER JOIN episode_date
			ON eps.date < episode_date.date
			WHERE eps.id > 1
		),
		episode_next AS (
			SELECT MIN(id) AS \'next\', ? AS \'id\'
			FROM twat_eps AS eps
			INNER JOIN episode_date
				ON eps.date > episode_date.date
		)
		SELECT eps.id, eps.date, eps.title, eps.duration, 
			   eps.summary, eps.notes, eps.explicit, eps.license, 
			   eps.tags, eps.version, eps.downloads, eps.valid,
			   episode_maxmin.latest, episode_maxmin.earliest,
			   episode_previous.previous, episode_next.next,
			   hosts.hostid, hosts.host,
			   miniseries.name AS \'series\', miniseries.id AS \'seriesid\',
			   miniseries.description AS \'series_description\'
		FROM twat_eps AS eps
		INNER JOIN hosts ON eps.hostid = hosts.hostid
		INNER JOIN miniseries ON eps.series = miniseries.id
		INNER JOIN episode_maxmin ON eps.id = episode_maxmin.id
		INNER JOIN episode_previous ON eps.id = episode_previous.id
		INNER JOIN episode_next ON eps.id = episode_next.id
		WHERE eps.id = ?
	')
%-->
<!--% episode_result = query_episodes.execute(id, id, id, id, id) %-->
<!--% FOREACH episode IN episode_result %-->
<!--% episode_navigation = step_navigation(baseurl,episode,"twat") %-->
<article>
	<header>
		<h1><!--% episode.id %--> :: <!--% episode.title %--></h1>
		<h3><!--% episode.summary %--></h3>
		<p class="meta"><!--% episode_navigation %-->
		</p>
<p><!--% show_avatar(episode.hostid, episode.host) %-->
Hosted by <a href="<!--% absolute_path(baseurl) %-->correspondents/<!--% zero_pad_left(episode.hostid) %-->.html"><!--% episode.host %--></a> on <span><!--% episode.date %--></span> is flagged as <span><!--% display_explicit(episode.explicit) %--></span> and is released under a <span><!--% episode.license %--> license</span>. <br>
<!--% display_tags(episode.tags) %--> <br>
<!--% listen_now(episode, "twat", baseurl, media_baseurl) %-->
<!--% display_listen_in(episode.id, "twat") %-->  
</p>
<h3><!--% show_series(episode.series, episode.seriesid, "Part of the series") %--></h3> 
<p><em><!--% episode.series_description %--></em></p>
	</header>
	<div><!--% episode.notes %--></div>
<footer>
<p>
<!--% episode_navigation %-->
</p>
    </footer></article>
<!--% END %-->

