<h1 id="agreement">Stuff you need to know<a href="#agreement">.</a></h1>
<p>
This is some important information that you will need to know before uploading to HPR.
</p>

<h2 id="wikipedia">You will no longer be allowed to edit HPR pages on Wikipedia<a href="#wikipedia">.</a></h2>
<p>
Once you upload a show, you will no longer be allowed to edit pages relating to <a href="https://en.wikipedia.org/wiki/Hacker_Public_Radio">Hacker Public Radio</a> in <a href="https://en.wikipedia.org/wiki/Wikipedia:FAQ/Organizations">Wikipedia</a>.
</p>

<h2 id="mailinglist">All policy decisions are made by the HPR Community<a href="#mailinglist">.</a></h2>
<p>
The community decides the HPR policies.
Please join the <a href="https://hackerpublicradio.org/mailman/listinfo/hpr_hackerpublicradio.org">HPR Mailing List</a> to participate.
</p>

<h2 id="no_shows_no_hpr">HPR will stop as a project if there are not enough shows<a href="#no_shows_no_hpr">.</a></h2>
<p>
Hacker Public Radio is dedicated to sharing knowledge.
We release about 260 shows a year, which is probably more than all of the other FOSS podcasts put together.
If you listen to HPR, then we would love you to <a target="_blank" href="<!--% absolute_path(baseurl) %-->contribute.html">contribute</a> one show a year.
Remember once that all the emergency shows have been used up and there are no more shows in the queue, HPR as a project will stop.

</p>
<h2 id="patrons">Support our Patrons<a href="#patrons">.</a></h2>
<p>
Our hosting is kindly provided to us by <a href="<!--% absolute_path(baseurl) %-->correspondents/0174.html">Josh Knapp</a> from <a href="https://anhonesthost.com/hosting/shared-hosting">AnHonestHost.com</a>, and The Internet Archive at <a href="https://archive.org/donate/">Archive.org</a>.
We encourage you to support our Patrons.
Over the years kind people have donated services and supported equipment for our conferences.

</p>
<h2 id="syndication">We do not syndicate non HPR Shows<a href="#syndication">.</a></h2>
<p>
HPR is founded on the principle of Hackers sharing knowledge.
For this reason we are only releasing material created exclusively for HPR.
We will continue to promote new podcasts and other creative commons material, but if you wish to have your show promoted, then please contact our sister site <a href="https://freeculturepodcasts.org/">Free Culture Podcasts</a>.
</p>
<p>
That said, if there is a piece of creative commons content that you would like to promote, then feel free to record a regular show.
There you can introduce the content and explain why it is important, providing links to where we can get more information etc.,  and then include one example episode.
</p>

<h2 id="license">You are agreeing to license your show CC-BY-SA<a href="#license">.</a></h2>
<p>
All our shows are now released under a <a href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International (CC BY-SA 4.0)</a> license, which means that while you continue to retain the copyright to your show, you are allowing us (and everyone else) to use it provided we give you attribution and that we release it under the same license.
Click the <a href="https://creativecommons.org/licenses/by-sa/4.0/">link</a> for more information.
</p>

<h2 id="permission">You have permission to redistribute your show in its entirety<a href="#permission">.</a></h2>
<p>
Never include content, for example music, in your show that you do not have permission to redistribute.
Try to avoid using any content in your show that can not be redistributed under a <a href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International (CC BY-SA 4.0) </a> license.
If you are redistributing under  another Creative Commons license, GNU Free Documentation License, public domain, or FLOSS software license, then please signal that when you upload your show. We do not post other copyrighted content, even if it is made available under fair use, or by arranged permission.
</p>

<h2 id="not_moderated">The audio of your show will not be moderated<a href="#not_moderated">.</a></h2>
<p>
We do not vet, edit, moderate or in any way censor any of the audio you submit, we trust you to do that.
Aside from checking snippets for audio quality/spam checking, we have a policy that we don't listen to the shows before they are aired.
This is a long standing tradition arising from the fact that HPR is a community of peers who believe that any host has as much right to submit shows as any other.
<br />
We <strong>do</strong> transcode the audio into different formats.
</p>
<p>
Please note that this only relates to the audio you upload.
The rest of the meta-data (branding/summaries/tags/show notes/etc.), are managed by the HPR Community, and <strong>may</strong> be edited.
The show <a href="<!--% absolute_path(baseurl) %-->eps/hpr2210/index.html">hpr2210 :: On Freedom of Speech and Censorship</a> describes the agreed approach to this topic.
</p>

</p>

<h2 id="explicit">Your show will be signaled as containing explicit content<a href="#explicit">.</a></h2>
<p>
Given that we are an open forum for free speech we signal all our shows as "explicit" with the assumption that the listeners will apply the required discretion when playing the shows in public.
That said the majority of our content is technical in nature and therefore is often considered appropriate for any audience.
If you feel that your show will be considered <strong>inoffensive in every region of the world</strong> then you can signal that when you upload the show.
</p>

<p>
When dealing with content that is "explicit" or contains material that would best be suited for a mature audience, it has become traditional to include a short warning at the very beginning of the show before the intro, to allow listeners time to switch off the episode should they so desire.
</p>

<p>
<a href="<!--% absolute_path(baseurl) %-->eps/hpr2210/index.html">hpr2210 :: On Freedom of Speech and Censorship</a> describes the agreed approach to this topic.
</p>

<h2 id="schedule">You determine when your show will be released<a href="#schedule">.</a></h2>
<p>
The HPR Schedule is entirely community driven and we recommend that <strong>you</strong> pick the date or show number as then you know when your show will be released.
However the slots will only be allocated once the shows have been successfully processed.
Any missing information can result in a show missing the requested slot.
Once the slots have been allocated it is not possible to move them.
</p>

<h2 id="reserving">All reservations need to be approved<a href="#reserving">.</a></h2>
<p>
Any host can select any free slot a up to year in advance, by recording their show and uploading it to the desired slot.
In exceptional circumstances it may be necessary to reserve a slot while not having the audio available, but this must be approved by the <a href="https://hackerpublicradio.org/mailman/listinfo/hpr_hackerpublicradio.org">HPR Mailing List</a> in advance.
Be sure to allow as much time as possible, and include a reason why you feel it is necessary to reserve the slot.
<br />
This is intended only for exceptional circumstances, such as a scheduled interview where we would like the audio to be released as soon after the event as possible, or to cover an important topical situation that has occurred.
Due to the extended time now needed to post shows to external sites, the extra work this entails and the disruptive effect of reservations, we will no longer be allowing them except in very rare cases of the type mentioned above.
</p>
<p>
The following are standing reservations:
<ul>
<li>Anniversary episodes.</li>
<li>HPR Community News on the first Monday of the month.</li>
<li>The first day of the fourth month.</li>
<li>The days following new year.</li>
</ul>
</p>

<h2 id="utf8">We use UTF-8 end to end<a href="#utf8">.</a></h2>
<blockquote>See the video "<a href="https://www.youtube.com/watch?v=MijmeoH9LT4">Characters, Symbols and the Unicode Miracle - Computerphile</a>" for an interesting background to ASCII and <a href="https://en.wikipedia.org/wiki/UTF-8">UTF-8</a>.
</blockquote>

<h2 id="accessibility">Keep accessibility in mind<a href="#accessibility">.</a></h2>
<p>
When you includes output from the command line in the show notes, posting screen-shots of console or terminal output makes it impossible for screen readers to access the text.
Always try to include the raw output ( eg: embedded in &lt;pre&gt; tags) 
<br />
Include descriptive language in any link texts. 
<br />
Avoid structures like: <em>"For accessibility information click <a href="#accessibility">here</a>"</em><br />
Rather use: <em>"For more information click our <a href="#accessibility">accessibility page</a>"</em><br />
</p>

<h2 id="international">Your show will be heard by an International Audience<a href="#international">.</a></h2>
<p>
We have people listening from all over the world, who may not have the same cultural background as yourself, therefore you should be as clear as possible when giving details.
For example always give temperatures in both Celsius and Fahrenheit, measurements in Metric and Imperial, dates in <strong>YYYY-MM-DD</strong> <a href="https://en.wikipedia.org/wiki/ISO_8601">iso8601</a> format, and abbreviations using the <a href="https://en.wikipedia.org/wiki/NATO_phonetic_alphabet">NATO phonetic alphabet</a>.
Never assume that your audience knows what age a sixth grader is, or how big a 20 Cent Euro coin is.
Keep in mind that keyboard layouts are also different so make sure to specify the key shape or the position inrelation to a common known standard.
For example:
</p>
<blockquote>The at sign normally situated above the 2 key on a US keyboard, and has a unicode number of U+0040.
For more information see <a href="https://en.wikipedia.org/wiki/At_sign">Wikipedia</a></blockquote>
<p>
<a href="https://xkcd.com/1179/"><img src="../images/iso_8601.png" title="ISO 8601 was published on 06/05/88 and most recently amended on 12/01/04." alt="An xkcd cartoon showing ISO 8601" /></a>
</p>

<h2 id="emergency_queue">Feed the emergency queue<a href="#emergency_queue">.</a></h2>
<p>
The emergency queue is intended only to be used in the cases where there is still a gap in the schedule 24 hours prior to release.
The shows will by their very nature need to be "timeless".
That means your topic should still be relevant in four years or more.
People will be able to hear the show on the website but they will not be included in any feeds until release.
</p>
<p>
Please begin all shows with text similar to:
<br />
<em>
"This is an emergency show, if you are hearing this then HPR needs shows ASAP.
Please consider contributing a show.
Email admin at hacker public radio dot org for more information."
</em>
</p>
<p>
We expect that we need at least 10 shows in the emergency queue in order to give people enough time to record and submit shows.
Please contact admin at hpr if you want to submit an emergency show.
</p>
