  <h1>Podcast Clients Test Status</h1>
<table style="width:100%">
  <caption></caption>
  <tr>
    <th>Name</th>
    <th>MP3</th>
    <th>OGG</th>
    <th>SPX</th>
    <th>HTML</th>
  </tr>
  <tr>
    <td>gPodder</td>
    <td>OK</td>
    <td>OK</td>
    <td>OK</td>
    <td>?</td>
  </tr>
  <tr>
    <td>Bashpodder</td>
    <td>OK</td>
    <td>OK</td>
    <td>OK</td>
    <td>?</td>
  </tr>
  <tr>
    <td>podget</td>
    <td>?</td>
    <td>?</td>
    <td>?</td>
    <td>?</td>
  </tr>
  <tr>
    <td>Akregator</td>
    <td>?</td>
    <td>OK</td>
    <td>?</td>
    <td>?</td>
  </tr>
  <tr>
    <td>BeyondPod</td>
    <td>?</td>
    <td>OK</td>
    <td>?</td>
    <td>?</td>
  </tr>
  <tr>
    <td>AntennaPod, Version 1.5.2.0</td>
    <td>OK</td>
    <td>?</td>
    <td>?</td>
    <td>Reading the itunes:summary which has no html.<br />Should we also enable html here as well - how to fix the 4k limit ?</td>
  </tr>
  <tr>
    <td>PodKicker Pro for Android</td>
    <td>?</td>
    <td>FAIL</td>
    <td>?</td>
    <td>?</td>
  </tr>
  <tr>
    <td>pocketcasts</td>
    <td>?</td>
    <td>FAIL</td>
    <td>?</td>
    <td>?</td>
  </tr>
  <tr>
    <td>Podlisten</td>
    <td>?</td>
    <td>?</td>
    <td>?</td>
    <td>?</td>
  </tr>
  <tr>
    <td>Soundwaves</td>
    <td>?</td>
    <td>?</td>
    <td>?</td>
    <td>?</td>
  </tr>
  <tr>
    <td>Podax</td>
    <td>?</td>
    <td>?</td>
    <td>?</td>
    <td>?</td>
  </tr>
  <tr>
    <td>PodKicker Pro</td>
    <td>OK</td>
    <td>FAIL</td>
    <td>?</td>
    <td>?</td>
  </tr>
  <tr>
    <td>RssDemon</td>
    <td>?</td>
    <td>?</td>
    <td>?</td>
    <td>?</td>
  </tr>
  <tr>
    <td>newsbeuter</td>
    <td>?</td>
    <td>?</td>
    <td>?</td>
    <td>?</td>
  </tr>
  <tr>
    <td>iTunes</td>
    <td>?</td>
    <td>?</td>
    <td>?</td>
    <td>?</td>
  </tr>
  <tr> 
    <td>VLC</td>
    <td>?</td>
    <td>?</td>
    <td>?</td>
    <td>?</td>
  </tr>
  <tr>
    <td><a href="https://github.com/jgoerzen/hpodder/wiki">hpodder</a></td>
    <td>OK</td>
    <td>OK</td>
    <td>OK</td>
    <td>?</td>
  </tr>
  <tr>
    <td><a href="https://play.google.com/store/apps/details?id=com.podkicker">PodKicker Pro for Android</a></td>
    <td>OK</td>
    <td>?</td>
    <td>?</td>
    <td>OK</td>
  </tr>
  <tr>
    <td>?</td>
    <td>?</td>
    <td>?</td>
    <td>?</td>
    <td>?</td>
  </tr>
  <tr>
    <td>?</td>
    <td>?</td>
    <td>?</td>
    <td>?</td>
    <td>?</td>
  </tr>
</table>
