<h1>RSS Syndication</h1>
<p><small><em><a href="http://hackerpublicradio.org/advanced_rss_settings.php">Advanced Settings</a>.</em></small></p>

<article>
  <header>
    <h2>Subscribe to our Feeds</h2>
  </header>
  <p>
  Great that you want to listen. Have a look below at the feeds that best suite your listening habits.
  </p>
</article>
<article>
  <header>
    <h2><img src="<!--% absolute_path(baseurl) %-->images/feed.png" alt="rss logo"> The Community News Summary</h2>
    <h3>One show a month</h3>
  </header>
  <p>
  If you get overwhelmend by the amount of shows we produce, then this is a good place to start.
  </p>
  <p>
  Every month, the HPR Janitors put down their mops had have a chat about all the shows, and what else has been going on in the HPR community. This is a regular show scheduled for the first Monday of the month. 
  </p>
  <ul>
    <li><a href="https://hackerpublicradio.org/hpr_ogg_rss.php?series=47">ogg</a> Larger file size higher quality feed.</li>
    <li><a href="https://hackerpublicradio.org/hpr_spx_rss.php?series=47">mp3</a> Larger file size regular quality feed in a common format.</li>
    <li><a href="https://hackerpublicradio.org/hpr_mp3_rss.php?series=47">spx</a> Small file size lower quality feed. <br/>Ideal for dial-up/mobile connections.</li>
  </ul>
  <p>
  We also maintain an <a href="https://archive.org/details/hackerpublicradio?and[]=subject%3A%22Community+News%22">Archive.org</a> page where you can get the shows in even more formats.
  </p>
</article>
<article>
  <header>
    <h2><img src="<!--% absolute_path(baseurl) %-->images/feed.png" alt="rss logo"> Two week Audio feed</h2>
    <h3>5 shows a week</h3>
  </header>
  <p>
  Use these feeds to keep up to date with the latest HPR Episodes.
  </p>
  <ul>
    <li><a href="hpr_ogg_rss.php">ogg</a> Larger file size higher quality feed.</li>
    <li><a href="hpr_rss.php">mp3</a> Larger file size regular quality feed in a common format.</li>
    <li><a href="hpr_spx_rss.php">spx</a> Small file size lower quality feed. <br/>Ideal for dial-up/mobile connections.</li>
  </ul>
  <p>
  We also maintain an <a href="https://archive.org/details/hackerpublicradio">Archive.org</a> page where you can get the shows in even more formats. For more recent shows we are now including the original upload as delivered.
  </p>
</article>
<article>
  <header>
    <h2><img src="<!--% absolute_path(baseurl) %-->images/feed.png" alt="rss logo"> Entire Archive Audio feed</h2>
  </header>
  <p>
    Use this feed to get the archived episodes. The feed themselves run over 15Mb in size and so use them to download the archived episodes and when you are up to date switch back to the Two Week Feeds listed above.
  </p>
  <ul>
    <li><a href="<!--% absolute_path(baseurl) %-->hpr_total_ogg.rss">ogg feed</a> Warning over 50G</li>
    <li><a href="<!--% absolute_path(baseurl) %-->hpr_total_spx.rss">spx feed</a> Warning over 22G</li>
    <li><a href="<!--% absolute_path(baseurl) %-->hpr_total_mp3.rss">mp3 feed</a> Warning over 36G</li>
  </ul>
</article>
<article>
  <header>
    <h2><img src="<!--% absolute_path(baseurl) %-->images/feed.png" alt="rss logo"> Future feed</h2>
  </header>
  <p>
    Use this feed to get the shows as they are posted. The shows will be posted out of order as they come in and may be replaced/reposted if errors are found. This is intended as a means to provide find issues with metadata or the audio quality of new shows before they hit the main feed. 
  </p>
  <ul>
    <li><a href="https://www.hackerpublicradio.org/rss-future.php">Shows as they are posted.</a> OGG Only</li>
  </ul>
</article>
<article>
  <header>
    <h2><img src="<!--% absolute_path(baseurl) %-->images/feed.png" alt="rss logo"> Comment feed</h2>
  </header>
  <ul>
    <li><a href="<!--% absolute_path(baseurl) %-->comments.rss">Listener contributed comments to the episodes</a></li>
  </ul>
</article>
<article>
  <header>
    <h2>Site Replication Sources</h2>
  </header>
  <ul>
  <li><a href="<!--% absolute_path(baseurl) %-->hpr.sql">Daily Database Dump in SQL Format</a></li>
  <ul>
</article>
<article>
  <header>
    <h2>External Sources</h2>
  </header>
  <ul>
    <li><a href="https://archive.org/details/hackerpublicradio">Archive.org</a></li>
    <li><a href="https://itunes.apple.com/us/podcast/hacker-public-radio/id281699640?mt=2">iTunes</a></li>
    <li><a href="https://podcasts.google.com/feed/aHR0cDovL2hhY2tlcnB1YmxpY3JhZGlvLm9yZy9ocHJfcnNzLnBocA">Google Podcasts</a></li>
    <li><a href="https://player.fm/series/hacker-public-radio">PlayerFM</a></li>
    <li><a href="https://open.spotify.com/show/7e2hYcnHj9vKgUzsIOf4r3">Spotify</a></li>
    <li><a href="https://www.mixcloud.com/hackerpublicradio/">MixCloud</a></li>
  <ul>
</article>
