<!--% PROCESS 'shared-utils.tpl.html' %-->
<h1>HPR Theme Music</h1>
  <p>
  An HPR episode is composed of a few parts which are all now added automatically.
  </p>
  <ol>
    <li>
      <h3 id="Synopsis">Show Synopsis</h3>
      <p>
      We will take the <a href="<!--% absolute_path(baseurl) %-->contribute.html#show_notes_file_format">fields</a> from the Show Notes and use those to create a short summary of what the show is about.<br />
      The format is:
      </p>
      <blockquote>
      This is HPR episode ${show_number) entitled "${title}". It is hosted by ${hostname} and is ${duration} minutes long. The Summary: "${summary}"
      </blockquote>
      <p>Most of the information is taken from the <a href="<!--% absolute_path(baseurl) %-->request_a_slot.html">Show Notes</a><br />
          <strong>Note:</strong> <em>This is automatically added after you upload your show.</em>
      </p>
    </li>
    <li>
      <h3 id="show">The Show</h3>
      <p>
        The most important bit. As long as you like, on any topic you like as long as it is <em>"of interest to Hackers"</em>.
      </p>
    </li>
    <li>
      <h3 id="outro">HPR Outro Music </h3>
      <p>
        This can be added is automatically added after you upload your show.
      </p>
    </li>
  </ol>

  <h2>Media Files</h2>
  <ol>
    <li><a href="http://www.hackerpublicradio.org/media/theme-music/">outro-music-MrX-ccbysa-accordion.wav</a> (2.8M)</li>
    <li><a href="http://www.hackerpublicradio.org/media/theme-music/">outro-music-rollercostermusic.com-ccbysa-v1-ccbysa.wav</a> (31M)</li>
    <li><a href="http://www.hackerpublicradio.org/media/theme-music/">outro-music-rollercostermusic.com-ccbysa-v2-ccbysa.wav</a> (26M)</li>
    <li><a href="http://www.hackerpublicradio.org/media/theme-music/">outro-music-rollercostermusic.com-ccbysa-v3-ccbysa.wav</a> (31M)</li>
    <li><a href="http://www.hackerpublicradio.org/media/theme-music/">outro-music-slick0-cc0.flac</a> (12M)</li>
    <li><a href="http://www.hackerpublicradio.org/media/theme-music/">outro-speech-manon_fallon-cc0.flac</a> (4.6M)</li>
  </ol>
