 <article>
    <header>
        <h1>Search HPR.</h1>
    </header>
<hr />
<h2>Search Show Tags</h2>
<p>
<a href="http://www.hackerpublicradio.org/tags.php">Complete list of all the Tags</a></p>
<hr />
<h2>Google</h2>
<form name="google-search" method="get" action="http://www.google.com/search">
  <input type="hidden" name="sitesearch" value="http://www.hackerpublicradio.org/" />
  <input name="q" type="text" />
  <input type="submit" name="sa" value="Search HPR with Google" />
</form>
<br />
<a href="http://www.google.com/policies/privacy/">privacy policy</a>
</p>
<hr />
<h2>DuckDuckGo</h2>
<p>
<iframe src="http://duckduckgo.com/search.html?site=www.hackerpublicradio.org&prefill=Search DuckDuckGo" style="overflow:hidden;margin:0;padding:0;width:408px;height:40px;" frameborder="0"></iframe>
<br />
<a href="https://duckduckgo.com/privacy">privacy policy</a>
</p>
<hr />
<h2>Bing</h2>
<p>
<form method="get" action="http://www.bing.com/search">
<input type="hidden" name="cp" value="utf-8" />
<input type="hidden" name="FORM" value="FREESS" />
<input type="text" name="q" size="30" />
<input type="submit" value="Search with Bing" />
<input type="hidden" name="q1" value="site:www.hackerpublicradio.org" />
</form>
<br />
<a href="http://www.microsoft.com/privacystatement/en-us/bing/default.aspx">privacy policy</a>
</p>
  </article>
