<!--% PROCESS 'shared-utils.tpl.html' %-->
		<ul>
			<li><a href="<!--% hub_baseurl %-->"><strong>⇧Upload⇧</strong></a></li>
			<li><a href="<!--% absolute_path(baseurl) %-->index.html"><strong>Home</a></li>
			<li><a href="<!--% absolute_path(baseurl) %-->contribute.html">Give Shows »</strong></a>
			<li><a href="<!--% absolute_path(baseurl) %-->stuff_you_need_to_know.html">Info</a></li>
			<li><a href="<!--% absolute_path(baseurl) %-->theme.html">Theme</a></li>
			<li><a href="<!--% absolute_path(baseurl) %-->requested_topics.html">Topics</a></li>
			<li><a href="<!--% absolute_path(baseurl) %-->recording.html">Recording</a></li>
			<li><a href="<!--% absolute_path(baseurl) %-->request_a_slot.html">Scheduling</a></li>
		</ul>
