<!--% PROCESS 'shared-utils.tpl.html' %-->
		<ul>
			<li><a href="<!--% hub_baseurl %-->"><strong>⇧Upload⇧</strong></a></li>
			<li><a href="<!--% absolute_path(baseurl) %-->index.html"><strong>Home</strong></a></li>
			<li><a href="<!--% absolute_path(baseurl) %-->syndication.html"><strong>Get Shows »</strong></a></li>
			<li><a href="<!--% absolute_path(baseurl) %-->eps/index.html">Full Episode Guide</a></li>
			<li><a href="<!--% absolute_path(baseurl) %-->series/index.html">In-Depth Series</a></li>
			<li><a href="<!--% absolute_path(baseurl) %-->download.html">Download Options</a></li>
		</ul>
