<!--% PROCESS 'shared-utils.tpl.html' %-->
		<ul>
			<li><a href="<!--% hub_baseurl %-->"><strong>⇧Upload⇧</strong></a></li>
			<li><a href="<!--% absolute_path(baseurl) %-->index.html"><strong>Home</a></li>
			<li><a href="<!--% absolute_path(baseurl) %-->help_out.html">Contribute »</strong></a></li>
			<li><a href="<!--% absolute_path(baseurl) %-->contribute.html">Submit Show</a></li>
			<li><a href="<!--% absolute_path(baseurl) %-->requested_topics.html">Topics</a></li>
		</ul>
