<!--% PROCESS 'shared-utils.tpl.html' %-->
		<ul>
			<li><a href="<!--% hub_baseurl %-->calendar.php"><strong>⇧Upload⇧</strong></a></li>
			<li><a href="<!--% absolute_path(baseurl) %-->index.html"><strong>Home</a></li>
			<li><a href="<!--% absolute_path(baseurl) %-->about.html">About »</strong></a></li>
			<li><a href="<!--% absolute_path(baseurl) %-->correspondents/index.html">Hosts</a></li>
			<li><a href="<!--% absolute_path(baseurl) %-->contact.html">Contact</a></li>
			<li><a href="<!--% absolute_path(baseurl) %-->promote.html">Promote HPR</a></li>
			<li><a href="<!--% absolute_path(baseurl) %-->comments_viewer.html">Show Comments</a></li>
		</ul>
